# 编译的 Python 文件
__pycache__/
*.py[cod]

# 环境变量文件
.env

# 虚拟环境
venv/
env/
.venv/
*.env

# 项目生成的临时文件
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebook 输出
.ipynb_checkpoints

# 其他特定于 IDE 的文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python egg 和打包
*.egg-info/
dist/
build/

# 其他
.DS_Store
Thumbs.db